:root {
  --frequent-color: #2e2f42;
  --logo-btm-color: #4d5ae5;
  --text-color: #434455;
  --fond-color: #ffffff;
  --fond-btn-color: #f4f4fd;
  --btn-color: #404bbf;

}

h1,h2,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}



body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--fond-color);
}



.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}

/* Header */
.logo-type {
  display: flex;
  align-items: center;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-btm-color);
}

/*  color-logo*/

.colorr {
  color: var(--frequent-color);
}

.menu-list {
  display: flex;
  gap: 40px;
}


.menu-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--frequent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--btn-color);
}

.addressa {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.contact-mailto-nunber,
.contact-mailto-nunbe {
  color: var(--btn-color);
}

.addressa:hover,
.addressa:focus {
  color: var(--btn-color);
}


.contact {
  display: flex;
  gap: 40px;
  margin-left: 332px;
  padding-top: 24px;
  padding-bottom: 24px;
}



.contacts-i {
  font-style: normal;
  margin-left: auto;
}


.page-header {
  display: flex;
  align-items: center;
  background-color: var(--fond-color);
}

.page-nav {
  display: flex;
}

.page-header .page-header-container {
  display: flex;
  align-items: center;
}


/* Hero image*/

.section-hero-container {
  background: var(--frequent-color);
  padding-top:  188px;
  padding-bottom: 292px;
  padding-left: 331px;
  padding-right: 331px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 1168px;
} 

.section-hero0 {
  background: var(--frequent-color);
} 

/* Section 1 */
.flex-container-1 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: 111px;
  margin-bottom: 120px;
}

.flex-container-1 > .flex-items-1 {
  flex-basis: calc(100% / 4)-24px;
  margin-left: 24px;
}
.flex-items-1 {
  width: 264px;
}

.flex-h-1 {
  display: flex;
  margin-bottom: 8px;
  margin-left: 0;
  }


.main-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--fond-color);
text-align: center;
}

.modal-btn {
font-family: 'Roboto', sans-serif;  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--fond-color);
background: var(--logo-btm-color);
cursor: pointer;
margin-top: 48px;
margin-left: auto;
margin-right: auto;
display: flex;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 32px;
padding-right: 32px;
}

.modal-btn:hover,
.modal-btn:focus {
background: var(--btn-color);
color: var(--fond-color);
}

/* container-features */

.container-features {
  display: flex;
  height: 312px;
}

.our-work-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--frequent-color);
}

/* Section 2  */

.flex-container-2 {
display: flex;
flex-wrap: wrap;
gap: 24px;
margin-top: 72px;
margin-bottom: 100px;

}

.flex-h-2 {
  margin-left: auto;
  margin-right: auto;

}



/* Section 3*/

.flex-h-3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;

}

.flex-container-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
}

.flex-items-3 {
  width: 264px;
}

.flex-container-3 > .flex-items-3 {

}



.our-team {
  background: var(--fond-btn-color);
}

.our-team-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--frequent-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--frequent-color);
}

.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* container-our-team */

.container-our-team {
  width: 1158px;
}

.img {
  background-color: var(--fond-color);
}

/* Footer */

.footer {
    background: var(--frequent-color);
  }

.logo-type-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-btm-color);
}



.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fond-btn-color);
}

/* colorr-footer-logo */
.colorr-footer {
  color: var(--fond-btn-color);
}

/* Portfolio */

.menu-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--frequent-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* Portfolio */

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--btn-color);
  color: var(--fond-color);
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-btm-color);
  background-color: var(--fond-btn-color);
  cursor: pointer;
}
